$topbar:#58595B;
$topbar-text: white;
$hero: white;
$hero-bottom-border: none;
$link-text:#1b5790;
$headings:#1b5790;
$text: #333;
$button:#1b5790;
$button-hover: #002a3a;
$form-outline: #002a3a;
$footer-bg: #f3f3f3 ;
$footer-text: #333;

/* ==========================================================================
Fonts
   ========================================================================== */
   h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Source Sans Pro", Georgia, Cambria, Times New Roman, Times,serif;
    line-height: 1.3;
    margin-bottom: .5em;
    margin-top: 1.5em; 
    color:$headings;
}
a{
    color:$link-text;
}
label {
    font-weight: bold;
}

p.lead{
    font-size:24px; 
}
body {
    font-size: 1.8rem;
}
/* ==========================================================================
Layout
   ========================================================================== */

   #mainheader{
       border-bottom: $hero-bottom-border;
   }
.goog-logo-link, .goog-logo-link:link, .goog-te-gadget{
    color: $topbar-text!important; 
}  
.well{
    background-color:$topbar;
    padding:1px 20px;
}

.topbar{
    background-color:$topbar;
    span{
        color:$hero;
    }
}

header#mainheader{ 
    background-color:$hero;

    h1.pagetitle{
        color:white;
        font-size:45px;
        margin-top:10px;
        margin-bottom:0;
        font-weight:100;
    }
    span.subtitle{
        font-weight: normal;
        font-style: italic;
        font-size:28px;
        color:white;
    }
}
article.main{
    &>header>h1{
        margin-top:30px;
        font-size:5.5rem;
    }
}
#footer{
    background-color:$footer-bg;
    clear:both;
    margin-top:20px;
    color:$footer-text;
    padding:10px 0;
    a, a:hover{
        color:$link-text;
    }
    // a.at-icon-wrapper.at-share-btn[style]{
    //     background-color:transparent!important;
    // }
}
div#header-text {
    background-color: $headings;
    color: white;
    div{
        max-width: 1000px;
        margin: 15px auto 0;
        padding: 0 25px;
        font-size: 40px;
        letter-spacing: 10px;
    }
}

/* ==========================================================================
Forms
   ========================================================================== */
form{
    border:3px solid $form-outline; 
}
.sg-progress-bar{
    display:none;
}
.sg-add-another-button, .sg-browse-btn, .sg-button, .sg-configurator-btn, .sg-file-field input[type=button] {
    background: #1b5790 !important;
    font-weight: 900;
    color:white !important;
}

.show-confirmation{
    border: solid 3px #2a3582;
    color: #333;
    text-align: center;
    height: auto !important;
    padding: 15px;
    transition: 0.3s;
    display: block;
    font-weight: bold;
    margin: 10px auto;
    font-size: 20px;
  }

.checkmark {
    margin: 10px auto;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #2a3582;
    stroke-miterlimit: 1;
    box-shadow: inset 0px 0px 0px #2a3582;
    animation: border .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: #2a3582;
    fill: none;
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #2a3582;
    }
}
/* ==========================================================================
Buttons
   ========================================================================== */

.usa-button, .usa-button-primary, .usa-button-primary:visited, .usa-button:visited, [type=button], [type=image], [type=reset], [type=submit], button, .atc-style-blue .atcb-link, .atc-style-blue .atcb-link:hover, .atc-style-blue .atcb-link:active, .atc-style-blue .atcb-link:focus{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: .5em;
    margin-right: .5em;
    margin-bottom: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $button;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Sourcesanspro,Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border:2px solid white;
    box-shadow:none;
}
.atc-style-blue .atcb-link{
    border:2px solid $topbar;
}
.usa-button-primary.usa-button-hover, .usa-button-primary:hover, .usa-button-primary:visited.usa-button-hover, .usa-button-primary:visited:hover, .usa-button.usa-button-hover, .usa-button:hover, .usa-button:visited.usa-button-hover, .usa-button:visited:hover, [type=button].usa-button-hover, [type=button]:hover, [type=image].usa-button-hover, [type=image]:hover, [type=reset].usa-button-hover, [type=reset]:hover, [type=submit].usa-button-hover, [type=submit]:hover, button.usa-button-hover, button:hover, .atc-style-blue .atcb-link:hover{
    background-color: $button;
    border:2px solid $button;
    color: #fff;
    text-decoration: none;   
}

/* ==========================================================================
Media queries
   ========================================================================== */
@media screen and (min-width: 768px) and (max-width: 991px){
    header#mainheader h1.pagetitle {
        font-size: 25px;
    }
    header#mainheader span.subtitle {
        font-size: 22px;
    }
}