p {
  font-size: 19px;
}
.space {
  padding-top: 50px;
}

.outbox {
  margin: 40px 0;
  border: 2px solid #000000;
}
.inthebox {
  padding: 20px 20px 60px 40px;
}
table thead td,
table thead th {
  background-color: #ffffff;
}
form {
  border: 3px solid #c9c9c9;
  background-color: #efefef;
  max-width: 90%;
}
h1 {
  color: #ffffff;
  padding: 5px 0px;
  font-size: 1em;
  font-weight: 500;
  margin-left: -15px;
}
h2 {
  margin: 20px 0 50px 0;
  font-size: 2.75em;
}
.sg-input {
  border-color: #ffffff;
  border-width: 0 0 0 0;
}
#sgE-7369240-1-2-box > div.sg-question-title > label {
  color: #1b5790;
}
#sgE-7369240-1-2-element {
  color: #1b5790;
}
#sgE-7369240-1-2-box > div.sg-question-options {
  border-bottom: 1px solid #c9c9c9;
  padding: 30px;
}
